* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffe085;
}

#navbarNavAltMarkup a{
  color: #f8ba00;
  
}

.navbar-brand img {
  width: 5em;
  display: flex;
  justify-content: center;
}

.salto img {
  width: 127%;
}
.salto{
  display: flex;
  justify-content: center;
}
.nav-link {
  font-family: Quicksand;
}

/* PAGINA PRINCIPAL */

.main-row1 {
  font-family: Rajdhani;
}
.main-row1 p {
  font-family: roboto;
}

/* CARTA MENU */
.card-body h6{
  color: red;
  
}

.rowtitu {
  background-color: rgb(216, 120, 68);
  width: 11em;
}
/* FOOTER */
.ubi h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ubilinks ul {
  list-style: none;
}
.ubilinks a {
  font: 0.9em sans-serif;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  color: black;
}
.row-footer {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos1 img {
  width: 120px;
  height: 120;
}
.logos1 {
  display: flex;
  justify-content: center;
}
/* Contacto */
.container {
  max-width: 600px;
  margin: 0 auto;
}

.contact {
  padding: 20px;
  
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.colname {
  margin-right: 20px;
}

p {
  margin-bottom: 5px;
}



button.send {
  background-color: rgb(216, 120, 68);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button.send:hover {
  background-color: #000000;
}
.row-send{
  padding: 2%;
  display: flex;
  justify-content: center;
}
/* Footer */
.row-footer{
  display: flex;
  align-items: end;
  height:390px;
}
.colfoo3 {
  display: flex; 
  justify-content: center;
  
  
  
  list-style: none;
}
.colfoo3 a {
  text-decoration: none;
}
.colfoo3 li {
  list-style: none;
  display: flex;
  justify-content: center;
}