*{
    margin: 0%;
    padding: 0%;
}
.navbar-brand img{
    width: 140px;
    
}


.row1{
    background-color: aquamarine;
}
.row2{
    background-color: brown;
}
.salto img{
    width: 100%;
    
    
}
.main-row1{
    font-family: Rajdhani;
}
.main-row1 p{
    font-family: roboto;
}
    
