* {
  margin: 0%;
  padding: 0%;
}
.navbar-brand img {
  width: 140px;
}


.salto img {
  width: 101%;
}
.main-row1 {
  font-family: Rajdhani;
}
.main-row1 p {
  font-family: roboto;
}
.ubi h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ubilinks ul {
  list-style: none;
}
.ubilinks a {
  font: 0.9em sans-serif;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
.row-footer {
  background-color: rgb(233, 132, 23);
}
.logos1 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120;
}

.rowmenu1 img {
  width: 100%;
}
.rowcarta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.colcarta {
  justify-content: center;
  align-items: center;
}

.rowmenu2 img {
  width: 100%;
}
.rowmenu3 img {
  width: 100%;
}

.send {
  width: 400px;
  background-color: rgb(233, 132, 23);
}
